.product{
    display: flexbox;
    color:  #1f285e;
    font-size: 20px;
}

.form{
    max-width: 500px;
}

.data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 30%;
    height: 150px;
    gap: 10px;
}

.input{
    width: 100%;
    height: 20px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 7px;
}

.submit{
    height: 40px;
    width:100px;
    padding-left: 4px;
    border-radius: 8px;
    color: white;
    font-size: 13px;
    background-color: #1541d1;
    cursor: pointer;
}