.header{
    padding-bottom: 80px;
}

.display{
    color: #1f285e;
    width: 19%;
}
.left{
    position: fixed;
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -8px;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-right: 50px;
}   

.right{
    display: flex;
    height: 460px;
    width: 70%;
    justify-content: center;
    border-radius: 14px;
    background-color: rgba(231, 228, 228, 0.986);;
    border: 1px solid rgb(153, 152, 152);
}

@media (max-width : 768px){
    .left{
        display: none;
    }

    .right{
        overflow-x: scroll;
        overflow-y: scroll;
        flex-wrap: wrap;
        width: 120%;
    }
}

@media (min-width : 769px){
    .center{
        display: none;
    }
    
}