.headerbg {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

/* NAV styles */
.nav {
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 58px;
  padding: 0.5rem 1rem;
  font-size: 14px;
  background-color: white;
  color: #1f285e;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  box-sizing: border-box;
}

.nav h1 {
  margin: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav h1 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
}
