ul.list {
    list-style-type: none;
}
  
li{
    width: 200px;
    padding: 6px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #1f285e;
    margin-left: -30px;
    background-color: rgba(183, 184, 181, 0.932);
}

.link{
    text-decoration: none;
}

.link:hover{
    font-size: 25px;
}

.navigation{
    font-size: 20px;
}

@media (max-width : 768px){
    .list {
        width: 450px;
        gap: 30px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        gap: 35px; 
    }
    
    .list li {
        width: 90px;
        flex: 0 0 50px;
        display: inline;
    }
}