.user{
  text-align: center;
  color:  #1f285e;
  font-size: 20px;
  overflow: scroll;
  overflow-x: scroll;
}

.customers{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.customers td, .customers th {
    border: 1px solid #929292;
    padding: 8px;
    width: 32lvh;
  }

.customers th {
    background-color: #04AA6D;
    color: white;
  }